
{%  extends "header.html" %}
{% block body %}
  <!-- Tab panes -->
<div class="row">
  <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
  <div class="collection z-depth-2">
	{%for t in TOPIC_DICT['Basics'] %}
		{%if t[1]==curLink %}
		<a class="collection-item active grey lighten-4 black-text center-align"><h5>{{t[0]}}</h5></a>
		{% else %}
		<a href={{t[1]}} class="collection-item black-text center-align">{{t[0]}}</a>
		{%endif%}
	{% endfor %}	
   </div>
  </div>
      <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
      <!--TOPIC_content put here-->
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{completed_percentages['Basics']}}%;">
				Basics Progress:  {{completed_percentages['Basics']}}%
			</div>
		</div>
	  <h2>{{curTitle}}</h2>
	  <br>
	  
	  <div class="embed-responsive embed-responsive-16by9"></div>
	  
	  <p>你好，现在我们开始了。</p>
	  <p></p>
	  <p></p>
	  <p></p>
	  
	  
	  <kbd data-toggle="collapse" data-target="#consoleinfo" aria-expanded="false" aria-controls="consoleinfo">console</kbd>
	  
		<div class="collapse" id="consoleinfo">
		  <div class="well">
			<p>When someone refers to "the console," they are referring to where information from your program is ouput. You will see an example of "output to console" below. If you want this message to go away, just click again on the "console" button that you originally clicked on.</p>
		  </div>
		</div>
		
		
		
		<div class="row">
		<div class="col l6">
		<pre  class="prettyprint">
CODE HERE
		</pre></div>
		<div class="col l6">
<p>EXPLANATION</p></div></div>
	  
		
		
		{%if nextLink %}
		<p>The next tutorial: <a title="{{nextTitle}}" href="{{nextLink}}?completed={{curLink}}"><button class="btn btn-primary">{{nextTitle}}</button></a></p>
		{%else%}
		<p>You finished all: <a title="{{nextTitle}}" href="/?completed={{curLink}}"><button class="btn btn-primary">Click Here to Go Home</button></a></p>
		{%endif%}
	  </div>
</div>

</div>
{% endblock %}

